#navbar-administration .navbar-bar {
  background: #2f88cd;
  background: -moz-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36a2f6), color-stop(100%, #2f88cd));
  background: -webkit-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -o-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -ms-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: linear-gradient(to bottom, #36a2f6 0%, #2f88cd 100%);
  border: 1px solid #2f88cd;
}
#navbar-administration .navbar-bar .navbar-icon {
  text-shadow: 1px 1px 0px #2f88cd;
}

/**
 * Navbar icon
 */
.navbar-bar .navbar-icon-commerce:before {
    background-image: url("icons/bebebe/drupal-cart.svg");
}
.no-svg .navbar-bar .navbar-icon-commerce:before {
    background-image: url("icons/bebebe/drupal-cart.png");
}
.navbar-bar .navbar-icon-commerce:active:before,
.navbar-bar .navbar-icon-commerce.navbar-active:before {
    background-image: url("icons/ffffff/drupal-cart.svg");
}
.no-svg .navbar-bar .navbar-icon-commerce:active:before,
.no-svg .navbar-bar .navbar-icon-commerce.navbar-active:before {
    background-image: url("icons/ffffff/drupal-cart.png");
}

@media print {
  #navbar-administration,
  #toolbar,
  #branding,
  #footer,
  #help,
  .print-syslink,
  .contextual-links-wrapper {
    display: none;
  }
  body {
    padding-top: 0 !important;
  }
  .views-row {
    display: block; page-break-before: always;
  }
    .views-row-1 {
      page-break-before: avoid;
    }
  .field-name-commerce-order-total {
    float: right;
  }
  fieldset {
    clear: both;
    margin: 20px 0;
  }
}
